<footer class="mini-footer main">
  <div class="container-fluid">
    <div class="row center-xs end-sm">
      <div class="mini-footer--left start-sm center-xs col-sm-2"><a href="{{ site.baseurl }}/privacy">Privacy Policy</a></div>
      <div class="mini-footer--center footer-credits center-xs col-sm-8">
        <span class="footer-credits">{{ site.data.labels.footer_credits }}</span>
      </div>
      <div class="mini-footer--right end-sm center-xs col-sm-2">
        <a href="{{ site.data.labels.social_icons.medium_path }}" target="_blank" title="{{ site.data.labels.social_icons.medium_title }}"><svg class="icon icon--medium" width="15" height="15" viewbox="0 0 32 32" preserveAspectRatio="xMinYMin"><use xlink:href="#icon--medium"></use></svg></a>
        <a href="{{ site.data.labels.social_icons.github_path }}" target="_blank" title="{{ site.data.labels.social_icons.github_title }}"><svg class="icon icon--github" width="15" height="15" viewbox="0 0 32 32" preserveAspectRatio="xMinYMin"><use xlink:href="#icon--github"></use></svg></a>
        <a href="{{ site.data.labels.social_icons.twitter_path }}" target="_blank" title="{{ site.data.labels.social_icons.twitter_title }}"><svg class="icon icon--twitter" width="15" height="15" viewbox="0 0 32 32" preserveAspectRatio="xMinYMin"><use xlink:href="#icon--twitter"></use></svg></a>



      </div>
    </div>
  </div>
</footer>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120573167-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-120573167-1');
</script>
