---
layout: default
---

<section class="page-photo-header center-xs"></section>


<section class="page-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">

        <div class="row principles-intro">
          <div class="col-xs">
            <!-- <h2 class="first-line">Resident expectations for digital services have totally changed.</h2> -->
            <h2 class="first-line">Policy for today, tomorrow, and whatever comes next</h2>
            <h3 class="sub-head max-paragraph">We’re a new team that’s collecting data and developing policy to support Austin’s design and technology transformation</h3>
            <p class="max-paragraph">Building on the successes of Austin’s <a href="https://austinstrategicplan.bloomfire.com/posts/3301043-austin-strategic-direction-2023-final">Strategic Direction 2023</a>, <a href="http://www.austintexas.gov/digitalinclusion">Digital Inclusion Program</a>, and <a href="http://odd.austintexas.io/">Office of Design &amp; Delivery</a>, we’re working across departments to develop a baseline for services across the city and create new policies, certifications, and training opportunities to deliver on our goals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="page-section gray-back" id="efforts">

  <div class="container">

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">

            <h2>What we're working on</h2>
            <!-- <h4>Subhead text</h4> -->

        </div>
      </div>

      <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
          <div class="col-sm">
            <h4>City Services Inventory</h4>
            <p>We’re developing an open and comprehensive inventory of City services, including assessments of the accessibility, usability, and strategic alignment of each service</p>
          </div>
          <div class="col-sm">
            <h4>Iterative, User-Centered Policy</h4>
            <p>We’re piloting a new approach to developing policy, training, and certifications for accessibility, user research, and digital services infrastructure</p>
          </div>
      </div>

    </div>

</section>




<section class="page-section" id="join-us">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">

          <h2>Join our team</h2>
          <h4>We're currently hiring for the following positions:</h4>


          <a href="https://boards.greenhouse.io/oddaustin/jobs/4091592002"><h3>Policy Fellow</h3></a>
          <h4 class="max-paragraph">Policy Fellowships are full-time, paid opportunities for a diverse range of experts in data collection, usability analysis, accessibility analysis, policy analysis, and community engagement to help us build an open and comprehensive inventory of City services and develop iterative, user-centered policy to ensure accessibility and usability across City services in the years to come.</h4>
          <a href="https://boards.greenhouse.io/oddaustin/jobs/4091592002"><h4>Learn more and apply</h4></a>

        </div>
      </div>
    </div>
</section>




<section class="page-section gray-back" id="signup">

  <div class="container" id="mc_embed_signup">
    <form action="https://austintexas.us19.list-manage.com/subscribe/post?u=048009978de4cbef153655b73&amp;id=7d4967c172" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">

        <div class="row principles-intro">
          <div class="col-xs">
            <h2 class="join-us-header">Join our mailing list</h2>
          </div>
        </div>

        <div class="col-xs">
          <div class="row signup-form-fields">
              <div class="col-sm signup-field">
                <label for="mce-NAME">Name (optional)</label>
              	<input type="text" value="" name="NAME" class="" id="mce-NAME">
              </div>
              <div class="col-sm signup-field">
                <label for="mce-EMAIL">Email Address</label>
              	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
          </div>
        </div>


          <div class="row signup-form-fields">
              <div class="col-sm">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_048009978de4cbef153655b73_7d4967c172" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Join us" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

              </div>
          </div>


        </div>
      </div>
  </form>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='NAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </div>
</section>
